<template>
    <v-app id="inspire">
  <v-navigation-drawer
    fixed
    v-model="drawer"
    app
  >
    <v-list dense>

    </v-list>
  </v-navigation-drawer>
  <v-toolbar color="indigo" dark fixed app>
    <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
    <v-toolbar-title>Application</v-toolbar-title>
  </v-toolbar>
  <v-content>
    <v-container fluid fill-height>
      <v-layout
        justify-center
        align-center
      >
        <v-flex text-xs-center>

          <MatrixViz :instanceText="instanceText" @update="onMatrixUpdate" @click="onClick" />

          <div id="inst">
            <div class="instContainer">
              <v-textarea id="instanceArea" name="instanceText" label="Instance" v-model="instanceText"></v-textarea>
            </div>
          </div>

        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</v-app>
</template>
<script>
  import MatrixViz from './MatrixViz.vue'
  // load vue and vuetify
  import Vue from "vue"
  import Vuetify from 'vuetify'
  import stringify from 'json-stringify-pretty-compact'
  Vue.use(Vuetify)
  // load styles
  import '../node_modules/material-design-icons-iconfont/dist/material-design-icons.scss'
  import '../node_modules/vuetify/dist/vuetify.min.css'
  export default {
    components: { MatrixViz },
    data() {
      let tilesize = 50
      return {
        // instance: {
        //   props: {
        //     x: ["1","2","3"],
        //     y: ["a","b","c"],
        //     r: {"a":["1","3"], "b":["1","2"], "c":["1","2","3"]},
        //   },
        //   x_width: {"1": tilesize, "2": tilesize*2, "3": tilesize*3},
        //   x_title_height: tilesize,
        //   y_height: {"a": tilesize, "b": tilesize*2, "c": tilesize},
        //   y_title_width: tilesize,
        //   separator: 1,
        //   symmetric: true,
        //   color_empty: "#ccc",
        //   color_full: "#444",
        //   tile_colors: {
        //     "b-3": "#aae"
        //   },
        //   editable: false,
        //   tile_texts: {
        //     "b-2": {'text':'H', 'color':'#fff'},
        //     "a-2": {'text':'X', 'color': '#000'}
        //   },
        //   x_title_color: "#aea",
        //   x_title_textcolor: "#555",
        //   y_title_color: "#eaa",
        //   y_title_textcolor: "#555"
        // },
        instance: {
          props: {
            x: ["1","2","3"],
            y: ["a","b","c"],
            r: {"a":["1","3"], "b":["1","2"], "c":["1","2","3"]},
          },
          x_width: {"1": tilesize, "2": tilesize, "3": tilesize},
          x_title_height: tilesize,
          y_height: {"a": tilesize, "b": tilesize, "c": tilesize},
          y_title_width: tilesize,
          separator: 1,
          symmetric: true,
          color_empty: "#ccc",
          color_full: "#444",
          tile_colors: {
          },
          editable: false,
          tile_texts: {
          },
          x_title_color: "#aea",
          x_title_textcolor: "#555",
          y_title_color: "#eaa",
          y_title_textcolor: "#555"
        },
        drawer: null
      }
    },
    computed: {
      instanceText: {
        get: function() {
          return stringify(this.instance)
        },
        set: function(newValue) {
          try {
            this.instance = JSON.parse(newValue)
          } catch ( e ) {

          }
        }
      },
    },
    methods: {
      onMatrixUpdate(newValue) { // updates instance
        this.instance = JSON.parse(newValue)
      },
      onClick(ev) {
        if ( this.instance.editable ) {
            let y = ev.y.toString()
            let x = ev.x.toString()
            let r = this.instance.props.r
            if (r[y].includes(x)) {
            r[y] = r[y].filter(e => e!==x)
            } else {
            r[y].push(x)
            }
        }
      }
    }
  }
</script>
<style lang="scss">
  #instanceArea {
    font-family: 'Courier New', Courier, monospace;
    height: 400px;
  }
</style>
