<template>
  <div id="viewMatrix">
    <svg :width="width" :height="height"></svg>
  </div>
</template>
<script>

import Vue from 'vue'
import { Component, Watch } from 'vue-property-decorator'
import * as d3 from "d3"

import { Instance, Tile, DragState, Coord, MoveType, DragAutomata } from "./structures"
import { initInterface } from "./shapes"

export default {
    props: ["instanceText"],
    computed: {
        instance: {
            get: function() {
                return JSON.parse(this.instanceText)
            },
            set: function(newVal) {
                this.$emit('update', JSON.stringify(newVal))
            }
        },
        width: function() {
            return this.getWidth()
        },
        height: function() {
            return this.getHeight()
        }
    },
    mounted: function() {
        initInterface(this)
    },
    methods: {
        init() {
            this.$forceUpdate()
            Vue.nextTick( () => {
                initInterface(this)
            })
        },
        getWidth() {
            let res = this.instance.y_title_width+this.instance.separator*(this.instance.props.x.length)
            for ( let e of this.instance.props.x ) {
                res += this.instance.x_width[e]
            }
            return res
        },
        getHeight() {
            let res = this.instance.x_title_height+this.instance.separator*(this.instance.props.y.length)
            for ( let e of this.instance.props.y ) {
                res += this.instance.y_height[e]
            }
            return res
        },
        getXLabels() {
            let d = this.instance.props
            let res = []
            let offset = this.instance.y_title_width+this.instance.separator
            for ( let i = 0 ; i < d.x.length ; i++ ) {
              res.push({
                idx: i+1,
                idy: 0,
                x: offset,
                y: 0,
                w: this.instance.x_width[d.x[i]],
                h: this.instance.x_title_height,
                color: this.instance.x_title_color,
                text: d.x[i]
              })
              offset += this.instance.x_width[d.x[i]]+this.instance.separator
            }
            return res
        },
        getYLabels() {
            let d = this.instance.props
            let res = []
            let offset = this.instance.x_title_height+this.instance.separator
            for ( let i = 0 ; i < d.y.length ; i++ ) {
              res.push({
                idx: 0,
                idy: i+1,
                x: 0,
                y: offset,
                w:this.instance.y_title_width,
                h:this.instance.y_height[d.y[i]],
                color: this.instance.y_title_color,
                text: d.y[i]
              })
              offset += this.instance.y_height[d.y[i]]+this.instance.separator
            }
            return res
        },
        getTiles() {
            let d = this.instance
            let res = []
            let offsetY = d.x_title_height+d.separator
            for ( let i = 0 ; i < d.props.y.length ; i++ ) {
                let offsetX = d.y_title_width+d.separator
                for ( let j = 0 ; j < d.props.x.length ; j++ ) {
                    let idy = i+1
                    let idx = j+1
                    res.push({
                        idx: j+1,
                        idy: i+1,
                        x: offsetX,
                        y: offsetY,
                        w:this.instance.x_width[d.props.x[j]],
                        h:this.instance.y_height[d.props.y[i]],
                        color: this.getTileColor(d.props.x[j],d.props.y[i]),
                        text: this.getTileText(d.props.x[j],d.props.y[i])
                    })
                    offsetX += d.x_width[d.props.x[j]]+d.separator
                }
                offsetY += d.y_height[d.props.y[i]]+d.separator
            }
            return res
        },
        getTileColor(x,y) {
            if ( this.instance.tile_colors[y+"-"+x] ) {
                return this.instance.tile_colors[y+"-"+x]
            }
            else {
                if ( this.instance.props.r[y].indexOf(x) > -1 ) {
                    return this.instance.color_full
                } else {
                    return this.instance.color_empty
                }
            }
        },
        getTileText(x,y) {
            if ( "tile_texts" in this.instance && this.instance.tile_texts[y+"-"+x] ) {
                return {
                    'ok':true, 
                    'text': this.instance.tile_texts[y+"-"+x].text,
                    'color': this.instance.tile_texts[y+"-"+x].color
                }
            } else {
                return {'ok':false}
            }
        }
    },
    watch: {
        instance: function() {
            Vue.nextTick (() => {
                this.init()
            })
        }
    }
}
</script>
<style lang="scss">
</style>
